body {
    height: 100vh;
    background-color: black;
    color: white;
}
a{
    text-decoration: none;
    list-style: none;
}
:root {
    --swiper-theme-color: #ff091e;
}

.swiper-pagination-bullet {
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 20px;
    font-size: 18px;
    color: #fc0505;
    opacity: 1;
    background: rgba(11, 38, 241, 0.2);
    
}

.swiper-pagination-bullet-active {
    background: #fd00ba;
    width: 30px;
    height: 20px;
    padding: 6px 0;
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    color: rgb(248, 252, 248);
    margin: 0px 15px 20px;
}
main {}

.intro {
    height: 98vh;
    color: white;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid wheat;
}

.htxt {
    text-align: center;
}

.text {
    white-space: pre-line;
    word-break: keep-all;
    text-align: center;
    line-height: 130px;
}

.text::after {
    content: '';
    margin-left: .4rem;
    border-right: 2px solid #b4b3b3;
    animation: cursor .9s infinite steps(2);
}

@keyframes cursor {
    from {
        border-right: 3px solid #222;
    }

    to {
        border-right: 3px solid #fdfcfc;
    }
}

.arrgif {
    width: 12%;
    background-color: black;
}

/* === media 1600 === */
@media (max-width: 1600px) {}

/* === media 1024 === */
@media (max-width: 1024px) {
    .intro {
    }

    .htxt {}

    .text {
        font-size: 2rem;
        line-height: 60px;

    }

    .arrgif {
        width: 30%;
        background-color: black;
    }
}

/* === media 780 === */
@media (max-width: 780px) {
    .intro {
    }

    .htxt {}

    .text {
        font-size: 2rem;
        line-height: 60px;

    }

    .arrgif {
        width: 30%;
        background-color: black;
    }
}

/* === media 480 === */
@media (max-width: 480px) {
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .htxt {}

    .text {
        font-size: 1.5rem;
        line-height: 60px;

    }

    .arrgif {
        width: 30%;
        background-color: black;
    }
}