.ball {
    pointer-events: none;
    position: absolute; 
    width: 15px;
    height: 15px;
    border-radius: 50px ;
    background: rgb(238, 233, 233);
    animation: bounce .4s ease-in-out;
    animation-fill-mode: both;
    opacity: .7;
    }
    

    @keyframes bounce {
      100% {transform: scale(0)}
    }